@{ViewData["Title"] = "Upload File"; }

<h1>Upload File</h1>

<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span id="lblError"></span>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="Close" class="btn btn-danger" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $("#lblError").html('@Html.Raw(ViewBag.ErrorMessage)');
                $("#MyPopup").modal("show");
            };
    </script>
}
@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}